<div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="assets\d1.png" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h3 class="card-title">Member Registration Portal</h3>
          <p class="card-text">The purpose of the requirements document is to systematically capture requirements for the project and the system “Member Registration Portal” to be developed. The application should be Cloud Native Architecture with Microservices. Both functional and non-functional requirements are captured in this document. It also serves as the input for the project scoping.</p>
          <h5 class="card-title">About The System</h5>
          <p class="card-text">The client would like to develop an independent application Member Registration Portal (MRP) application in order to automate the process of registering a member, edit his details and submit his claims</p>
            <h5 class="card-title">Scope of the System</h5>
            <p class="card-text">The scope of the system is explained through its modules as follows</p>
            <a routerLink="/registration"><h6>1. Member Registration </h6></a>
            <h6>2. Submit claims </h6>
            <h6>3. Update Member Details </h6>
        </div>
      </div>
    </div>
  </div>