<div class="row justify-content-center">
    <div class="card " style="width: 30rem; background-color: rgb(232, 241, 241);">
        <div class="card-body" *ngIf="!registerSucess">
            <h3 class="card-title text-center">Register</h3>
            <form (ngSubmit)="saveCust(customer,cpass)" #registerForm="ngForm">
                <div class="container-2">
                    <div class="mb-3">
                        <input type="text" class="form-control" id="name" name="name" placeholder="Enter Name"
                            [(ngModel)]="customer.name" #name="ngModel" maxlength="15" required
                            [pattern]="'^[a-zA-Z ]*$'">
                        <div *ngIf="(name.touched || registerForm.submitted) && name.errors?.['required']"
                            style="color:rgb(233, 14, 14)">*Name is Required</div>
                        <div *ngIf="(name.touched || registerForm.submitted) && name.errors?.['maxlength']"
                            style="color:rgb(233, 18, 18)">*Name should not be more than 15 characters</div>
                        <div *ngIf="(name.touched || registerForm.submitted) && name.errors?.['pattern']"
                            style="color:rgb(233, 18, 18)">*please enter only characters</div>
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" id="email" name="email" placeholder="Enter Email"
                            [(ngModel)]="customer.emailAddress" #email="ngModel"
                            pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
                        <div *ngIf="(email.touched || registerForm.submitted) && email.errors?.['required']"
                            style="color:rgb(214, 16, 16)">Email is Required</div>
                        <div *ngIf="(email.touched || registerForm.submitted) && email.errors?.['pattern']"
                            style="color:rgb(226, 13, 13)">Enter a valid Email Id</div>
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" id="pannumber" name="pannumber"
                            placeholder="Enter Pan Number" [(ngModel)]="customer.panNumber" #pannumber="ngModel"
                            minlength="12" maxlength="12" required [pattern]="'^[a-zA-Z0-9]+$'">
                        <div *ngIf="(pannumber.touched || registerForm.submitted) && pannumber.errors?.['required']"
                            style="color:rgb(235, 16, 16)">*Pan number is Required</div>
                        <div *ngIf="(pannumber.touched || registerForm.submitted) && pannumber.errors?.['minlength']"
                            style="color:rgb(230, 11, 11)">*Pan Number should be 12 characters</div>
                        <div *ngIf="(pannumber.touched || registerForm.submitted) && pannumber.errors?.['pattern']"
                            style="color:rgb(230, 11, 11)">Special character and space are not allowed</div>
                    </div>
                    <div class="mb-3">
                        <input type="date" class="form-control" id="dob" name="dob" placeholder="Enter Date Of Birth"
                            [(ngModel)]="customer.dob" #dob="ngModel" [max]="getToday()" required>
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" id="number" name="number"
                            placeholder="Enter Contact Number" [(ngModel)]="customer.contactNumber" #number="ngModel"
                            minlength="10" maxlength="10" required>
                        <div *ngIf="(number.touched || registerForm.submitted) && number.errors?.['required']"
                            style="color:rgb(219, 13, 13)">Contact Number is Required</div>
                        <div *ngIf="(number.touched || registerForm.submitted) && number.errors?.['minlength']"
                            style="color:rgb(226, 12, 12)">Number should be of 10 digits</div>
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" id="address" name="address" placeholder="Enter Address"
                            [(ngModel)]="customer.address" #address="ngModel" required>
                        <div *ngIf="(address.touched || registerForm.submitted) && address.errors?.['required']"
                            style="color:rgb(243, 18, 74)">Address is Required</div>
                    </div>
                    <div class="mb-3">
                        <input type="password" class="form-control" id="password" name="password"
                            placeholder="Enter Password" [(ngModel)]="customer.password" minlength="8" maxlength="16"
                            #password="ngModel" required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%?&])[A-Za-z\d$@$!%?&]{8,}$">
                        <div *ngIf="(password.touched || registerForm.submitted) && password.errors?.['required']"
                            style="color:rgb(238, 10, 86)">Password is Required</div>
                         <div *ngIf="(password.touched || registerForm.submitted) && password.errors?.['pattern']"
                            style="color:rgb(231, 18, 46)">Password should have minimum 8 character and Must Contain
                            numerics & special characters & one capital letter</div>
                    </div>
                    <div class="mb-3">
                        <label>Please select the Country</label>
                        <select (change)='getCity($event)' class="form-select form-control">
                            <option *ngFor="let Country of Country;" [ngValue]="Country.Id">
                                {{Country.name}}
                            </option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label>Please select the City</label>
                        <select class=" form-select form-control" name="city" [(ngModel)]="city">
                            <option *ngFor="let City of City;" [ngValue]="City.name">
                                {{City.name}}
                            </option>
                        </select>
                    </div>
                    <div class="makecenter">
                        <button type="submit" [disabled]="!registerForm.valid" class="btn btn-success">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row justify-content-center" *ngIf="registerSucess">
    <div class="card " style="width: 30rem; margin-top: 40px;background-color: azure;">
        <div class="card-body">
            <h4> Registeration Success and Member Id :: {{response}}</h4>
            <button type="submit" class="btn btn-success m-2" (click)=addDependent()>Add Dependent </button>
            <button type="submit" class="btn btn-secondary m-2" (click)=dependentClose()>Close </button>
        </div>
    </div>
</div>
<!-- [disabled]="!registerForm.valid" -->
